{% extends "base.html" %}
{% load apptags %}
{% block content %}
{% load static %}
	<!-- /.End of navbar -->
	<div class="bg-grey py-5">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-xl-10">
					<h2 class="mb-2 mb-5 text-capitalize text-center">Поход по магазинам <span class="underline position-relative text-primary">Тележка</span></h2>
					<!-- Start Title -->
					<div class="align-items-center d-flex justify-content-between mb-3">
						<h3 class="mb-0">Моя тележка</h3>
						<!-- /.End Title -->
						<!-- Start Button --><a href="product.htmlf" class="btn btn-primary btn-sm">Продолжайте ходить по магазинам<i class="fa-arrow-right fa-solid fs-14 ms-2"></i></a>
						<!-- /.End Button -->
					</div>
					<!-- Start Cart Items List -->
					<ul class="cart-items__list list-unstyled m-0 p-0">
					
						<!-- Start Cart Item -->
						{% for basket in baskets %}
						<li class="cart-item align-middle bg-white items mb-3 odd p-3 rounded shadow-sm">
							<div class="row g-3 align-items-center justify-content-between">
								<div class="col cartSection d-flex">
									<div class="flex-shrink-0">
										<!-- Start Item Image Thumb -->
										<div class="item-img__thumb p-1 bg-white shadow rounded">
											<!-- Start Item Image --><img src="{{ basket.product.get_first_photo }}" alt="" height="90" width="90" class="item-img rounded">
											<!-- /.End Item Image -->
										</div>
										<!-- /.End Item Image Thumb -->
									</div>
									<div class="flex-grow-1 ms-3">
										<!-- Start Item Number -->
										<p class="fw-12 fw-semibold item-number mb-1 text-black-50">#QUE-007544-00{{basket.id}}</p>
										<!-- /.End Item Number -->
										<!-- Start Item Title -->
										<h3 class="item-title fs-17 mb-3">{{ basket.product.name }}</h3>
										<!-- /.End Item Title -->
										<div class="align-items-center d-flex flex-wrap">
											<!-- Start Input Spinner -->
											<div class="input-spinner input-spinner-sm d-flex bg-white rounded border me-2">
												<span class="minus position-relative dis" onclick="updateQuantity('{{ basket.id }}', -1)"></span>
												<input type="text" class="in-num text-center border-0" value="{{ basket.quantity }}" readonly="">
												<span class="plus position-relative" onclick="updateQuantity('{{ basket.id }}', 1)"></span>
											</div>
											<!-- /.End Spinner -->
											<span class="fs-14"> x р {{ basket.product.discounted_price }}</span>
											{% if basket.product.product_counts > 0 %}
											<!-- Start Stock Status -->
											<span class="fs-13 fw-semibold ps-2 stock-status text-success text-uppercase">В наличии</span>
											<!-- /.End Stock Status -->
											{% else %}
											<span class="fs-13 fw-semibold ps-2 stock-status text-danger text-uppercase">Нет в наличии</span>
											{% endif %}
											<!-- /.End Stock Status -->
										</div>
									</div>
								</div>
								<div class="align-items-center col-sm-auto d-flex">
									<!-- Start Item Price -->
									<div class="fs-25 fw-semibold text-primary">р {{basket.product.discounted_price}}</div>
									<!-- /.End Item Price -->
									<!-- Start Item Remove Button --><a href="{% url 'app:basket_remove' basket_id=basket.id %}" class="remove text-danger fs-18 ms-3"><i class="fa-solid fa-trash-can"></i></a>
									<!-- /.End Item Remove Button -->
								</div>
							</div>
						</li>
						<!-- End Cart Item -->
						<!-- Start Cart Item -->
						{% endfor %}
						<!-- End Cart Item -->
					</ul>
					<!-- /.End Cart Items List -->
					<!-- Start Cart Total -->
					
					<div class="row justify-content-end mt-5">
						<div class="col-sm-7 col-lg-5 col-xl-5 col-xxl-4">
							<!-- Start Subtotal -->
							<ul class="subtotal list-unstyled">
								<li class="row g-0 sub-total fs-21"> <span class="col">Промежуточный итог:</span> <span class="col-auto value text-dark">{{ baskets.total_sum }} р</span> </li>
								<li class="row g-0 fs-16 my-2"> <span class="col">Налоги (5%):</span> <span class="col-auto value text-dark">{{ baskets.total_tax }} р</span> </li>
								<li class="row g-0 fs-16 my-2"> <span class="col">Доставка:</span> <span class="col-auto value text-dark">5.00 р</span> </li>
							</ul>
							<!-- /.End Subtotal -->
							<hr>
							<div class="mt-3">
								{% get_total_price price=baskets.total_sum nds=baskets.total_tax delivery=5 as total_price %}
								<h1 class="total fs-24 fw-semibold text-center mb-3">Весь: <span>{{ total_price }}</span>р</h1>
								<!-- /.End Total Amount -->
								<!-- Start Checkout Button --><a href="{% url 'app:convert_baskets_to_order' %}" class="btn btn-primary btn-lg w-100">Проверка<i class="fa-arrow-right fa-solid fs-14 ms-2"></i></a>
								<!-- /.End Checkout Button -->
							</div>
						</div>
					</div>
					<!-- /.End Cart Total -->
				</div>
			</div>
		</div>
	</div>



	
{% endblock %}